.page-header {
    padding: 90px 0;
    background-color: #ccc;
    @include bg-img(url('../../assets/images/aboutbg.jpg')) ;
    h1 {
        text-align: center;
    }
    p {
        font-size: 18px;
        text-align: center;
    }
}

.page-content {
    margin-top: 70px;
    padding-bottom: 70px;
    .inner-content {
        display: flex;
        gap: 20px;
        .right-section {
            width: 70%;
            background-color: white;
            border-radius: 6px;
            padding: 20px;
            .main-image {
                width: 100%;
                height: 500px;
                overflow: hidden;
                border-radius: 6px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h2 {
                margin-top: 18px;
                margin-bottom: 10px;
                color: $mainColor;
            }
            .detailes {
                p {
                    margin-bottom: 15px;
                    font-size: 18px;
                }
            }
            .props {
                margin-top: 20px;
                display: flex;
                background-color: #eeeeeea2;
                padding: 15px;
                border-radius: 6px;
                div:first-child {
                    border-left: 6px solid white;
                }
                div {
                    width: 50%;
                    padding-right: 25px;
                    ul {
                        li {
                            margin-bottom: 20px;
                            position: relative;
                            &::after {
                                position: absolute;
                                content: ":";
                                left: 50%;
                                font-size: 20px;
                                color: #979797;
                            }
                            span {
                                position: absolute;
                                left: 11%;
                            }
                        }
                    }
                }
            }
            .extra-props {
                margin-top: 20px;
                display: flex;
                background-color: #eeeeeea2;
                padding: 18px;
                border-radius: 6px;
                gap: 15px;
                .box {
                    width: 33%;
                    background-color: white;
                    border-radius: 6px;
                    padding: 18px 25px;
                    box-shadow: 3px 3px 10px #ccccccae;
                    cursor: pointer;
                    i {
                        font-size: 25px;
                        color: $secondColor;
                        background-color: #F9F5E9;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    h3 {
                        color: rgb(66, 65, 65);
                        margin-top: 10px;
                    }
                    p {
                        margin: 10px 0;
                        color: $secondColor;
                        font-weight: 600;
                    }
                }
            }
            .swiper-slide {
                width: 100%;
                height: 500px;
                margin-top: 30px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .arrow {
                color: $mainColor;
            }
        }
    }
}