@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cairo";
  background-color: #f5f1f1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

header {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: #363636;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  header nav {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  header nav {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  header nav {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  header nav {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  header nav {
    max-width: 1320px;
  }
}
header nav ul {
  display: none;
}
@media (min-width: 768px) {
  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
header nav ul li a {
  font-weight: bold;
  color: #0360A3;
  transition-duration: 0.3s;
}
header nav ul li a:hover {
  color: #CEAE4A;
}
header nav .icons {
  display: none;
}
@media (min-width: 768px) {
  header nav .icons {
    display: flex;
    gap: 13px;
  }
}
header nav .icons a {
  color: #0360A3;
  transition-duration: 0.3s;
}
header nav .icons a:hover {
  color: #CEAE4A;
}
header nav .icons i {
  font-size: 19px;
}
header nav .mobile-nav-icon {
  display: flex;
  font-weight: 700;
  color: #0360A3;
  transition-duration: 0.3s;
  cursor: pointer;
}
header nav .mobile-nav-icon:hover {
  color: #CEAE4A;
}
@media (min-width: 768px) {
  header nav .mobile-nav-icon {
    display: none;
  }
}

.btn-danger, .btn-primary {
  color: white !important;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 15px;
  transition-duration: 0.3s;
}

.btn-primary {
  background-color: #0360A3;
}
.btn-primary:hover {
  background-color: rgb(2.078313253, 66.5060240964, 112.921686747);
}

.btn-danger {
  background-color: #CEAE4A;
}
.btn-danger:hover {
  background-color: rgb(180.2130434783, 148.352173913, 48.7869565217);
}

aside {
  width: 250px;
  background-color: white;
  height: calc(100vh - 60px);
  position: fixed;
  margin-top: 5px;
  border-top-left-radius: 5px;
  right: -250px;
  transition-duration: 0.3s;
  z-index: 10000;
  box-shadow: 2px 2px 10px #9b9a9a;
}
aside .mobile-menu {
  padding: 20px;
}
aside .mobile-menu .logo {
  width: 200px;
}
aside .mobile-menu ul li {
  padding: 5px;
  border-bottom: 1px solid #eaeaea;
}
aside .mobile-menu ul li a {
  color: #0360A3;
  transition-duration: 0.3s;
  font-weight: bold;
}
aside .mobile-menu ul li:hover a {
  color: #CEAE4A;
}
aside .mobile-menu form {
  width: 100%;
  margin-top: 10px;
}
aside .mobile-menu form input {
  width: 100%;
  height: 25px;
  border: 2px solid #dad9d9;
  border-radius: 5px;
  transition: 0.3s;
  padding: 10px;
}
aside .mobile-menu form input:focus {
  outline: none;
  border: 2px solid #dad9d9;
  background-color: rgba(238, 238, 238, 0.4705882353);
}
aside .mobile-menu .icons {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
aside .mobile-menu .icons i {
  font-size: 20px;
  color: #0360A3;
  transition-duration: 0.3s;
}
aside .mobile-menu .icons i:hover {
  color: #CEAE4A;
  scale: 1.2;
}
aside .mobile-menu .cta {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .hero {
    height: 600px;
  }
}
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/herobg1.png");
  background-position: center;
  background-color: #0360A3;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.708);
}
.hero .hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  width: 80%;
  z-index: 100;
}
.hero .hero-info h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .hero .hero-info h1 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .hero .hero-info h1 {
    font-size: 47px;
  }
}
.hero .hero-info p {
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
}
@media (min-width: 768px) {
  .hero .hero-info p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .hero .hero-info p {
    font-size: 21px;
  }
}
.hero .hero-info .search-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero .hero-info .search-area .search {
  width: 100%;
}
@media (min-width: 768px) {
  .hero .hero-info .search-area .search {
    width: 32%;
  }
}
.hero .hero-info .search-area .search {
  position: relative;
}
.hero .hero-info .search-area .search input, .hero .hero-info .search-area .search select {
  color: #757575;
  width: 100%;
  padding: 10px;
  padding-right: 35px;
  font-family: tajawal;
  font-size: 16px;
  border: 1px solid #ccc;
  transition: 0.3s;
  border-radius: 5px;
}
.hero .hero-info .search-area .search input:focus, .hero .hero-info .search-area .search select:focus {
  outline: none;
  border: 2px solid #0360A3;
}
.hero .hero-info .search-area .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  color: #0360A3;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
